<%= cache message do %>
  <article data-message-id="<%= message.id %>">
    <div class="icon-column">
      <i class="far fa-comment-alt" style="color: <%= message.color %>"></i>
    </div>

    <div class="main-column">
      <div class="username" style="color: <%= message.color %>">
        <%= message.username %>
      </div>

      <div class="content">
        <%= markdown message.content %>
      </div>
    </article>
  </div>
<% end %>