<%= cache message do %>
  <article data-message-id="<%= message.id %>">
    <div class="username" style="color: <%= message.color %>">
      <%= message.username %>
    </div>

    <div class="content">
      <%= markdown message.content %>
    </div>
  </article>
<% end %>