<!DOCTYPE html>
<html>
  <head>
    <title>Campfire</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.2/randomColor.min.js"></script>
  </head>

  <body>
    <main>
      <small>
        (<%= link_to 'github', 'https://github.com/tipsypastels/campfire', target: '_blank' %>, <%= link_to 'tipsypastels', 'https://twitter.com/tipsypastels', target: '_blank' %>)
      </small>
      
      <h1>
        Campfire
      </h1>

      <div class="block">
        <div class="strongdiv">What's this?</div>

        I wanted to learn about live updating sites so I made this simple chat app. If you're curious how it works check the github or Discord me.

        <div class="strongdiv">
          – Love, Dakota
        </div>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
